In [13]:
import pandas as pd

In [14]:
dataset = pd.read_csv("202101-divvy-tripdata.csv")

In [15]:
dataset.dtypes

ride_id                object
rideable_type          object
started_at             object
ended_at               object
start_station_name     object
start_station_id       object
end_station_name       object
end_station_id         object
start_lat             float64
start_lng             float64
end_lat               float64
end_lng               float64
member_casual          object
dtype: object

In [16]:
temp = pd.read_csv("202102-divvy-tripdata.csv")

In [17]:
temp.dtypes

ride_id                object
rideable_type          object
started_at             object
ended_at               object
start_station_name     object
start_station_id       object
end_station_name       object
end_station_id         object
start_lat             float64
start_lng             float64
end_lat               float64
end_lng               float64
member_casual          object
dtype: object

In [20]:
dataset_merge = pd.concat([dataset,temp])

In [21]:
dataset_merge.count()

ride_id               146456
rideable_type         146456
started_at            146456
ended_at              146456
start_station_name    133785
start_station_id      133785
end_station_name      130821
end_station_id        130821
start_lat             146456
start_lng             146456
end_lat               146139
end_lng               146139
member_casual         146456
dtype: int64

In [22]:
temp = pd.read_csv("202103-divvy-tripdata.csv")

In [24]:
temp.count(0)

ride_id               228496
rideable_type         228496
started_at            228496
ended_at              228496
start_station_name    213648
start_station_id      213648
end_station_name      211769
end_station_id        211769
start_lat             228496
start_lng             228496
end_lat               228329
end_lng               228329
member_casual         228496
dtype: int64

In [25]:
dataset_merge = pd.concat([dataset_merge , temp ])

In [29]:
dataset_merge.dtypes

ride_id                object
rideable_type          object
started_at             object
ended_at               object
start_station_name     object
start_station_id       object
end_station_name       object
end_station_id         object
start_lat             float64
start_lng             float64
end_lat               float64
end_lng               float64
member_casual          object
dtype: object

In [30]:
temp = pd.read_csv("202104-divvy-tripdata.csv")

In [32]:
temp.count()

ride_id               337230
rideable_type         337230
started_at            337230
ended_at              337230
start_station_name    311174
start_station_id      311174
end_station_name      309056
end_station_id        309056
start_lat             337230
start_lng             337230
end_lat               336963
end_lng               336963
member_casual         337230
dtype: int64

In [33]:
dataset_merge = pd.concat([dataset_merge , temp ])

In [35]:
dataset_merge.count()

ride_id               712182
rideable_type         712182
started_at            712182
ended_at              712182
start_station_name    658607
start_station_id      658607
end_station_name      651646
end_station_id        651646
start_lat             712182
start_lng             712182
end_lat               711431
end_lng               711431
member_casual         712182
dtype: int64

In [36]:
temp = pd.read_csv("202105-divvy-tripdata.csv")

In [41]:
temp.count()

ride_id               531633
rideable_type         531633
started_at            531633
ended_at              531633
start_station_name    477889
start_station_id      477889
end_station_name      473439
end_station_id        473439
start_lat             531633
start_lng             531633
end_lat               531181
end_lng               531181
member_casual         531633
dtype: int64

In [42]:
dataset_merge = pd.concat([dataset_merge , temp ])

In [45]:
dataset_merge.count()

ride_id               1243815
rideable_type         1243815
started_at            1243815
ended_at              1243815
start_station_name    1136496
start_station_id      1136496
end_station_name      1125085
end_station_id        1125085
start_lat             1243815
start_lng             1243815
end_lat               1242612
end_lng               1242612
member_casual         1243815
dtype: int64

In [46]:
temp = pd.read_csv("202106-divvy-tripdata.csv")

In [47]:
dataset_merge = pd.concat([dataset_merge , temp ])

In [50]:
dataset_merge.count()

ride_id               1973410
rideable_type         1973410
started_at            1973410
ended_at              1973410
start_station_name    1785998
start_station_id      1785998
end_station_name      1768293
end_station_id        1768293
start_lat             1973410
start_lng             1973410
end_lat               1971490
end_lng               1971490
member_casual         1973410
dtype: int64

In [51]:
temp = pd.read_csv("202107-divvy-tripdata.csv")

In [53]:
temp.count()

ride_id               822410
rideable_type         822410
started_at            822410
ended_at              822410
start_station_name    735147
start_station_id      735148
end_station_name      729252
end_station_id        729252
start_lat             822410
start_lng             822410
end_lat               821679
end_lng               821679
member_casual         822410
dtype: int64

In [54]:
dataset_merge = pd.concat([dataset_merge , temp ])

In [55]:
dataset_merge.count()

ride_id               2795820
rideable_type         2795820
started_at            2795820
ended_at              2795820
start_station_name    2521145
start_station_id      2521146
end_station_name      2497545
end_station_id        2497545
start_lat             2795820
start_lng             2795820
end_lat               2793169
end_lng               2793169
member_casual         2795820
dtype: int64

In [56]:
temp = pd.read_csv("202108-divvy-tripdata.csv")

In [58]:
temp.dtypes

ride_id                object
rideable_type          object
started_at             object
ended_at               object
start_station_name     object
start_station_id       object
end_station_name       object
end_station_id         object
start_lat             float64
start_lng             float64
end_lat               float64
end_lng               float64
member_casual          object
dtype: object

In [59]:
dataset_merge = pd.concat([dataset_merge , temp ])

In [62]:
dataset_merge.dtypes

ride_id                object
rideable_type          object
started_at             object
ended_at               object
start_station_name     object
start_station_id       object
end_station_name       object
end_station_id         object
start_lat             float64
start_lng             float64
end_lat               float64
end_lng               float64
member_casual          object
dtype: object

In [63]:
temp = pd.read_csv("202109-divvy-tripdata.csv")

In [66]:
temp.count()

ride_id               756147
rideable_type         756147
started_at            756147
ended_at              756147
start_station_name    663034
start_station_id      663036
end_station_name      656886
end_station_id        656886
start_lat             756147
start_lng             756147
end_lat               755552
end_lng               755552
member_casual         756147
dtype: int64

In [67]:
dataset_merge = pd.concat([dataset_merge , temp ])

In [70]:
dataset_merge.count()

ride_id               4356319
rideable_type         4356319
started_at            4356319
ended_at              4356319
start_station_name    3900073
start_station_id      3900076
end_station_name      3864668
end_station_id        3864668
start_lat             4356319
start_lng             4356319
end_lat               4352367
end_lng               4352367
member_casual         4356319
dtype: int64

In [71]:
temp = pd.read_csv("202110-divvy-tripdata.csv")

In [73]:
temp.dtypes

ride_id                object
rideable_type          object
started_at             object
ended_at               object
start_station_name     object
start_station_id       object
end_station_name       object
end_station_id         object
start_lat             float64
start_lng             float64
end_lat               float64
end_lng               float64
member_casual          object
dtype: object

In [74]:
dataset_merge = pd.concat([dataset_merge , temp ])

In [78]:
dataset_merge.head()

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual
0,E19E6F1B8D4C42ED,electric_bike,2021-01-23 16:14:19,2021-01-23 16:24:44,California Ave & Cortez St,17660,NaN,NaN,41.900341,-87.696743,41.89,-87.72,member
1,DC88F20C2C55F27F,electric_bike,2021-01-27 18:43:08,2021-01-27 18:47:12,California Ave & Cortez St,17660,NaN,NaN,41.900333,-87.696707,41.90,-87.69,member
2,EC45C94683FE3F27,electric_bike,2021-01-21 22:35:54,2021-01-21 22:37:14,California Ave & Cortez St,17660,NaN,NaN,41.900313,-87.696643,41.90,-87.70,member
3,4FA453A75AE377DB,electric_bike,2021-01-07 13:31:13,2021-01-07 13:42:55,California Ave & Cortez St,17660,NaN,NaN,41.900399,-87.696662,41.92,-87.69,member
4,BE5E8EB4E7263A0B,electric_bike,2021-01-23 02:24:02,2021-01-23 02:24:45,California Ave & Cortez St,17660,NaN,NaN,41.900326,-87.696697,41.90,-87.70,casual

In [79]:
temp = pd.read_csv("202110-divvy-tripdata.csv")

In [80]:
dataset_merge = pd.concat([dataset_merge , temp ])

In [83]:
dataset_merge.count()

ride_id               5618771
rideable_type         5618771
started_at            5618771
ended_at              5618771
start_station_name    4946105
start_station_id      4946108
end_station_name      4897452
end_station_id        4897452
start_lat             5618771
start_lng             5618771
end_lat               5613851
end_lng               5613851
member_casual         5618771
dtype: int64

In [84]:
temp = pd.read_csv("202111-divvy-tripdata.csv")

In [85]:
dataset_merge = pd.concat([dataset_merge , temp ])

In [89]:
dataset_merge.tail()

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual
359973,E00E9F3500D69BAA,electric_bike,2021-11-29 00:39:13,2021-11-29 00:51:41,Logan Blvd & Elston Ave,TA1308000031,NaN,NaN,41.929454,-87.684195,41.93,-87.72,member
359974,8EAA66CE314E5FF1,electric_bike,2021-11-03 13:56:33,2021-11-03 14:01:27,Logan Blvd & Elston Ave,TA1308000031,NaN,NaN,41.929440,-87.684180,41.94,-87.69,member
359975,36C2DC8BB1E13491,electric_bike,2021-11-02 19:32:18,2021-11-02 19:36:16,Logan Blvd & Elston Ave,TA1308000031,NaN,NaN,41.929452,-87.684135,41.94,-87.69,member
359976,8E42FE5C67DF6A96,electric_bike,2021-11-10 20:15:06,2021-11-10 20:22:01,Logan Blvd & Elston Ave,TA1308000031,NaN,NaN,41.929428,-87.684175,41.94,-87.69,member
359977,4F15069E2D2519BC,electric_bike,2021-11-30 20:18:00,2021-11-30 20:37:27,Ogden Ave & Chicago Ave,TA1305000020,NaN,NaN,41.896354,-87.653982,41.95,-87.70,member

In [90]:
temp = pd.read_csv("202112-divvy-tripdata.csv")

In [91]:
temp.head()

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual
0,46F8167220E4431F,electric_bike,2021-12-07 15:06:07,2021-12-07 15:13:42,Laflin St & Cullerton St,13307,Morgan St & Polk St,TA1307000130,41.854833,-87.663660,41.871969,-87.650965,member
1,73A77762838B32FD,electric_bike,2021-12-11 03:43:29,2021-12-11 04:10:23,LaSalle Dr & Huron St,KP1705001026,Clarendon Ave & Leland Ave,TA1307000119,41.894405,-87.632331,41.967968,-87.650001,casual
2,4CF42452054F59C5,electric_bike,2021-12-15 23:10:28,2021-12-15 23:23:14,Halsted St & North Branch St,KA1504000117,Broadway & Barry Ave,13137,41.899357,-87.648522,41.937582,-87.644098,member
3,3278BA87BF698339,classic_bike,2021-12-26 16:16:10,2021-12-26 16:30:53,Halsted St & North Branch St,KA1504000117,LaSalle Dr & Huron St,KP1705001026,41.899390,-87.648545,41.894877,-87.632326,member
4,6FF54232576A3B73,electric_bike,2021-12-30 11:31:05,2021-12-30 11:51:21,Leavitt St & Chicago Ave,18058,Clark St & Drummond Pl,TA1307000142,41.895579,-87.682024,41.931248,-87.644336,member

In [92]:
dataset_merge = pd.concat([dataset_merge , temp ])

In [94]:
dataset_merge.tail()

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual
247535,847431F3D5353AB7,electric_bike,2021-12-12 13:36:55,2021-12-12 13:56:08,Canal St & Madison St,13341,NaN,NaN,41.882289,-87.639752,41.890000,-87.610000,casual
247536,CF407BBC3B9FAD63,electric_bike,2021-12-06 19:37:50,2021-12-06 19:44:51,Canal St & Madison St,13341,Kingsbury St & Kinzie St,KA1503000043,41.882123,-87.640053,41.889106,-87.638862,member
247537,60BB69EBF5440E92,electric_bike,2021-12-02 08:57:04,2021-12-02 09:05:21,Canal St & Madison St,13341,Dearborn St & Monroe St,TA1305000006,41.881956,-87.639955,41.880254,-87.629603,member
247538,C414F654A28635B8,electric_bike,2021-12-13 09:00:26,2021-12-13 09:14:39,Lawndale Ave & 16th St,362.0,NaN,NaN,41.860000,-87.720000,41.850000,-87.710000,member
247539,37AC57E34B2E7E97,classic_bike,2021-12-13 08:45:32,2021-12-13 08:49:09,Michigan Ave & Jackson Blvd,TA1309000002,Dearborn St & Monroe St,TA1305000006,41.877850,-87.624080,41.881320,-87.629521,member

In [95]:
dataset_merge.to_csv('merged_cyclistic_data.csv')

In [96]:
dataset_merge.count()

ride_id               6226289
rideable_type         6226289
started_at            6226289
ended_at              6226289
start_station_name    5427270
start_station_id      5427273
end_station_name      5372285
end_station_id        5372285
start_lat             6226289
start_lng             6226289
end_lat               6221034
end_lng               6221034
member_casual         6226289
dtype: int64